.title-container {
    padding-top: 120px;
}

.title-text {
    color: var(--dark-red);
}

.upper-text {
    margin-bottom: -30px !important;
}

@media (max-width: 600px) {
    .title-text {
        font-size: 60px !important;
    }
}